<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!--! 引入vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>

<body>
    <!--! 容器 -->
    <div id="root">
        <input type="text" v-model="name"><br />
        <input type="text" v-model="age"><br />
        <h1>{{helloWord}}</h1><br />
        <h1>{{helloWord}}</h1><br />
        <h1>{{helloWord}}</h1><br />
        <h1>{{helloWord}}</h1><br />
        <h1>{{helloWord}}</h1><br />
    </div>
</body>

<script>
    // 以阻止 vue 在启动时生成生产提示。
    Vue.config.productionTip = false

    // 创建vue实例
    const vm = new Vue({
        el: '#root', // el用于指定当前vue实例为哪个容器服务，值通常为css选择器字符串。
        data: { // data中用于存储数据，用于el指定的容器使用。
            name: 'yahoo',
            age: 23
        },
        computed: {
            // 完整写法：
            helloWord: {
                // 当读取helloWord时 或 helloWord所依赖的数据发生改变时，set就会被调用，且返回值就会被作为helloWord的值。
                get() {
                    console.log('getter');
                    return this.name + '，' + this.age
                },
                set(newVal) {
                    console.log('setter');
                    // console.log(this); // Vue改变了computed的this指向，此处的this指向vm
                    this.name = newVal.split('，')[0]
                    this.age = newVal.split('，')[1]
                }
            },
            // 简写（只可读取不可修改）
            helloWord() {
                console.log('getter');
                return this.name + '，' + this.age
            }
        }
    })
</script>

</html>